<!DOCTYPE html>
<html>
<head>
    <title>Create Teacher</title>
</head>
<body>
    <div style="text-align:center; margin-top:100px;">
    <h2>Create Teacher</h2>
    <form method="POST" action="/teacher/">
        {% csrf_token %}

        <label for="teacher_name">Teacher Name:</label><br>
        <input type="text" id="teacher_name" name="teacher_name" required>
        <br><br>

        <label for="teacher_class">Teacher Class:</label><br>
        <select id="teacher_class" name="teacher_class" required>
            <option value="">Select Class</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <br><br>

        <label for="teacher_email">Teacher Email:</label><br>
        <input type="email" id="teacher_email" name="teacher_email" required>
        <br><br>

        <button style="text-decoration:none; color:black;" type="submit">Create Teacher </button>
    </form>
    </div>
</body>
</html>