<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body style="margin: 0; padding: 20px;">
    <div style="text-align: right;">
        <a href="/api/create_teacher"><button>Create Teacher ID</button></a>
        <a href="/api/create_student"><button>Create Student ID</button></a>
        <a href="/api/view_student"><button>View ID</button></a>
        <a href="/api/update_student"><button>Update ID</button></a>
        <a href="/api/delete_student"><button>Delete ID</button></a>
    </div>
</body>
</html>